<!-- <div class="container-fluid">

    <div class="container-fluid d-flex flex-wrap my-2">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
  
          <h5 class="card-title">Song Id:  {{musicArray.album.name}}</h5>
          <h6 class="card-subtitle mb-2">Artist Name: {{musicArray.album.artists}}</h6>
          <h6 class="card-subtitle mb-2">Artist Comments: {{musicArray.album.listeners}}</h6>
          <h7 class="card-subtitle mb-2">Artist Comments: {{musicArray.album.playcount}}}}</h6>
             
        </div>
    </div>
    </div>
  </div> -->

  <div class="container-fluid">

      <div class="container-fluid d-flex flex-wrap my-2">
      <div class="card" style="width: 18rem;" >
          <div class="card-body">
    
            <h5 class="card-title">Name: {{music.track.name}}</h5>
            <h6 class="card-subtitle mb-2">Artist : {{music.track.artist.name}}</h6>
         
            
         
            <!-- <button (click)=removeFavourite(music.trackId)>Remove WishList</button> -->
        
          </div>
      </div>
      </div>
    </div>